.head-bar{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    
}
.head-bar-1{
    padding-left: 7vw;
}
.head-bar-2{
    padding-right: 7vw;
}
.form{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.form > div {
    display: flex;
    justify-content: center;   
}
.form > div > input {
    min-width: 23vw;
    min-height: 5vh;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: large;
    text-indent: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form > div > button {
    margin-top: 2vh;
    width: 49vw;
    min-height: 6vh;
    font-size: large;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    cursor: pointer;
}
.meme-img{
    margin-top: 2vh;
    max-width: 20vw;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 120px;
}

.top {
    top: 200px;
}